@using YogaVision.Common

<footer class="footer">
    
    

    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-sm-row flex-column align-items-lg-center align-items-start justify-content-start">
                        <nav class="footer_nav">
                            <ul class="d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <partial name="_MenuItemsPartial" />
                            </ul>
                        </nav>
                      
                        <div class="footer_phone ml-lg-auto">
                            <a href="https://github.com/Hanuman-dev-max/YogaVision" target="_blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                <span> Open Source System</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>
