@using YogaVision.Common
@using YogaVision.Infrastructure.Data.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li class="menu_item"><a asp-area="" asp-controller="BlogPosts" asp-action="Index">Публикации</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Instructors" asp-action="Index">Йога Инструктори</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Studios" asp-action="Index">Студия</a></li>
<li class="menu_item"><a asp-area="" asp-controller="BlogPosts" asp-action="Index">Кулинария</a></li>

<li class="menu_item">
    <a asp-area="" asp-controller="YogaEvents" asp-action="Index"><i class="fa fa-calendar" aria-hidden="true"></i> График</a>
</li>

