
@{
    this.ViewData["Title"] = "Admin Dashboard";
}

<h3>Welcome to Admin Dashboard!</h3>

<div>
    <a asp-area="Admin" asp-controller="BlogPosts" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Блог Статии</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="BlogPosts" asp-action="AddBlogPost">Добави нова статия</a>
    </div>
    
    <a asp-area="Admin" asp-controller="FoodRecipes" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Рецепти</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="FoodRecipes" asp-action="AddFoodRecipe">Добави нова рецепта</a>
    </div>
  

    <a asp-area="Admin" asp-controller="Cities" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Градове</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="Cities" asp-action="AddCity">Добави Нов Град</a>
    </div>

    <a asp-area="Admin" asp-controller="Studios" asp-action="Index"
       class="list-group-item list-group-item-action bg-light">Студия</a>

    <div class="ml-5 my-2">
        <a class="btn btn-outline-info btn-sm" asp-area="Admin" asp-controller="Studios" asp-action="AddStudio">Добави Ново Студио</a>
    </div>

    
</div>