
@{
    this.ViewData["Title"] = "Home Page";
}



<hr class="bg-dark mx-4" style="height: 6px;" />



            <!-- Latest News -->
            <div class="col-lg-5">
                <div class="news-grey">
                    <div class="news_title">Latest Blog Posts</div>
                    <div class="news_container">
                        <div>
                            @await Component.InvokeAsync("LatestBlogPosts", 4)
                        </div>
                    </div>
                </div>
            </div>

 

<hr class="bg-dark mx-4" style="height: 6px;" />
