<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Admin</u></strong></div>
    <div class="list-group list-group-flush">

        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Dashboard</a>

        <a asp-area="Admin" asp-controller="BlogPosts" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Блог Статии</a>

        <a asp-area="Admin" asp-controller="FoodRecipes" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Рецепти</a>

        <a asp-area="Admin" asp-controller="Services" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Services</a>

        <a asp-area="Admin" asp-controller="Cities" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Градове</a>

        <a asp-area="Admin" asp-controller="Studios" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Студия</a>

        <a asp-area="Admin" asp-controller="Appointments" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Appointments</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
