<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <ul>
            <li class="menu_item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"> Табло</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="BlogPosts" asp-action="Index">Блог Статити</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="FoodRecipes" asp-action="Index">Рецепти</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="Instructors" asp-action="Index">Инструктори</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="Cities" asp-action="Index">Градове</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="Studios" asp-action="Index">Студия</a></li>
            <li class="menu_item"><a asp-area="Admin" asp-controller="YogaEvents" asp-action="Index">Йога Събития</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">КЪМ НАЧАЛНАТА СТРАНИЦА</a></li>
        </ul>
    </div>
</div>
