<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Администратор</u></strong></div>
    <div class="list-group list-group-flush">

        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Табло</a>

        <a asp-area="Admin" asp-controller="BlogPost" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Блог Статии</a>

        <a asp-area="Admin" asp-controller="FoodRecipe" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Рецепти</a>

        <a asp-area="Admin" asp-controller="Instructor" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Инструктори</a>

        <a asp-area="Admin" asp-controller="City" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Градове</a>

        <a asp-area="Admin" asp-controller="Studio" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Студия</a>

        <a asp-area="Admin" asp-controller="YogaEvent" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Йога Събития</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
